.row .card:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    transform: scale(1.02);
    opacity: 1.0;
}

.rooms a:hover{
    text-decoration: none;
}

.rooms {
    margin-bottom: 2%;
}

.rooms a {
    color: black;
}